* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER START */
header {
    padding: 30px 30px 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-img.jpg");
    background-size: 100%;
    background-position: right bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9999;
    align-items: baseline;
}

header h1{
    font-weight: 300px;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 0px;
}

header a {
    text-decoration: none;
    color: #191716;
}

header h1 a {
    text-decoration: none;
    color: #191716;
    padding: 20px;
    border-radius: 15px;
}

header nav {
    margin: 7px 30px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(189, 127, 12);
    margin: 50px 50px;
    padding: 5px 20px;
    border-bottom: rgba(65, 68, 78, 0.5) solid;
}

header nav ul li a:hover {
    background: rgba(65, 68, 78, 0.5);
    color: rgba(255, 255, 255, 0.849);
    border-radius: 50px ;
    border-bottom: 0px;
}

/* HEADER END */
/* HERO START */
